.about
	padding-top 36px
	padding-left 34px
	width 400px
	float left
	&__title
		margin-bottom 22px
		font-family $roboto-bld
		font-size 24px
		line-height 26px
		text-transform uppercase
		color #3a3a3a
		letter-spacing tracking(75)
	&__text
		margin-bottom 16px
		font-size 14px
		line-height 24px
		color $color-text-first
		letter-spacing tracking(75)
	&__more
		font-family $roboto-bld
		font-size 14px
		text-decoration underline
		letter-spacing tracking(75)
		color #534e5a
		&:visited
			color #4e0bb3
		&:hover,
		&:active
			color #00a2ff
			text-decoration none



