mixin about()
	+b('section').about&attributes(attributes)
		+e('h2').title О нас

		+e('p').text Создаем оборудование для производства домашнего алкоголя: самогона, вина, пива. Аппараты для личного использования, небольших ресторанов и фабрик. В собственном конструкторском бюро мы делаем такие хорошие аппараты, что на них учатся технологи и руководители пивоваренной и ликероводочной промышленности. На сайте можно купить самогонный аппарат «Русич», пивоварню, ингредиенты и комплектующие. Доставляем по всей России.

		+e('a').more(href='#') Узнать больше

