mixin video()
	+b.video&attributes(attributes)
		+e.in
			+e('h2').title Видео

			+e.slider
				+e('div').item
					+e('div').image
						+e('a').link(href='https://www.youtube.com/watch?v=KrjdcL3Ru3Q')
							+e('img')(src='assets/images/content/text-article.jpg' alt='')
							+e.play-button
							+e('div').fade
					+e('h3').item-title Правила виноделов
					+e('p').item-text Пригубить бокал вина — все равно что ощутить на губах капельку из реки времен

				+e('div').item
					+e('div').image
						+e('a').link(href='https://www.youtube.com/watch?v=KrjdcL3Ru3Q')
							+e('img')(src='assets/images/content/video-article.jpg' alt='')
							+e.play-button
							+e('div').fade
					+e('h3').item-title Правила виноделов
					+e('p').item-text Пригубить бокал вина — все равно что ощутить на губах капельку из реки времен


				+e('div').item
					+e('div').image
						+e('a').link(href='https://www.youtube.com/watch?v=KrjdcL3Ru3Q')
							+e('img')(src='assets/images/content/text-article.jpg' alt='')
							+e.play-button
							+e('div').fade
					+e('h3').item-title Правила виноделов
					+e('p').item-text Пригубить бокал вина — все равно что ощутить на губах капельку из реки времен


				+e('div').item
					+e('div').image
						+e('a').link(href='https://www.youtube.com/watch?v=KrjdcL3Ru3Q')
							+e('img')(src='assets/images/content/video-article.jpg' alt='')
							+e.play-button
							+e('div').fade
					+e('h3').item-title Правила виноделов
					+e('p').item-text Пригубить бокал вина — все равно что ощутить на губах капельку из реки времен


				+e('div').item
					+e('div').image
						+e('a').link(href='https://www.youtube.com/watch?v=KrjdcL3Ru3Q')
							+e('img')(src='assets/images/content/text-article.jpg' alt='')
							+e.play-button
							+e('div').fade
					+e('h3').item-title Правила виноделов
					+e('p').item-text Пригубить бокал вина — все равно что ощутить на губах капельку из реки времен



