.personal
	.title
		margin-bottom 34px

.personal-top
	padding-top 10px
	margin-bottom 8px
	clearfix()
	&__input-w
		margin-bottom 15px
		width 430px
		background-color $color-gray-light
		letter-spacing tracking(75)
		clearfix()
	&__input
		border none
		padding 22px 24px 22px
		float right
		width 330px
		height 60px
		background transparent
		font-family $roboto-bld
		font-size 18px
		line-height 1
		text-transform uppercase
		color #000
		text-align right
		letter-spacing tracking(75)
		+placeholder()
			color #000
		&.error
			border 1px solid red
	&__label
		padding 24px 24px 24px
		float left
		width 100px
		font-family $roboto-bld
		font-size 13px
		line-height 1
		text-transform uppercase
		color #676767
		cursor pointer


.change-password
	margin-bottom 2px
	&__title
		border-bottom 1px solid #CDCDCD
		margin-bottom 34px
		padding-bottom 20px
		padding-left 26px
		width 430px
		font-family $roboto-lght
		font-size 12px
		text-transform uppercase
		color #626262
	&__form
		clearfix()
	&__input-w
		margin-bottom 15px
		width 430px
		background-color $color-gray-light
		letter-spacing tracking(75)

		clearfix()
	&__input
		border none
		padding 22px 24px 22px
		float right
		width 200px
		height 60px
		background transparent
		font-family $roboto-bld
		font-size 18px
		line-height 1
		text-transform uppercase
		color #000
		text-align right
		letter-spacing tracking(75)
		+placeholder()
			color #000
		&.error
			border 1px solid red
	&__label
		padding 24px 24px 24px
		float left
		width 200px
		font-family $roboto-bld
		font-size 13px
		line-height 1
		text-transform uppercase
		color #676767
		cursor pointer

.personal-bottom
	clearfix()
