mixin article()
	+b.article-w&attributes(attributes)
		+b('article').article
			+e.head
				+e('h1').title О самогоноварении
				+e.date 21/05/2016
				+e('a').back(href='#') К списку

			+e.image
				+e('a').image-link(href='assets/images/content/article-image.jpg')
					+e('img')(src='assets/images/content/article-image.jpg' alt='article image')

			+e('p').text Еще древние знали, что истина в вине, но в России зачастую бывает так, что из-за некачественного спиртного после застолья остается только тяжкое похмелье и жестокое разочарование. К сожалению, от алкогольных и пищевых отравлений не застрахован никто: все мы наслышаны о возможных последствиях, связанных с покупкой подделок в магазине, – будь то отечественная водка или дорогой иностранный бурбон. И, несмотря на то, что уровень жизни в стране повышается, опасность наткнуться на обманку не уменьшается, - только постоянно растут цены. Что же делать: пить или не пить? Для оптимиста, как известно, стакан всегда наполовину полон, и настоящие ценители хорошего алкоголя нашли альтернативу «казенному» спиртному – домашнее винокурение. О самогоноварении, естественно, наслышаны все, но мало кто знает, что современная техника позволяет производить в домашних условиях широчайшую палитру алкоголя на любой вкус: от традиционных водки и настоек до сравнимых с изысканными коньяками и виски напитков. Опыт показывает: домашний алкоголь – это в первую очередь удовольствие, как от продукта, так и от самого процесса. Для тех, кто сталкивается с самогоноварением впервые, становится открытием, что для приготовления высококачественного алкоголя не нужны никакие особые навыки или супер-навороченные аппараты. Все приборы достаточно просты в эксплуатации, и, чтобы освоить их и технологию работы, понадобится совсем немного времени и только желание.

			+e('p').text Многие начинают производство спиртного в домашних условиях с целью экономии денег и здоровья. Однако нередко этот процесс затягивает так, что превращается в увлекательное хобби. Знатоки согласятся, что винокурение – это настоящее искусство, которое позволяет бесконечные эксперименты с рецептурами и вкусами. Вне зависимости от вашего уровня, на нашем сайте вы найдете все необходимое, чтобы ваш труд приносил радость: оборудование, рецепты, видео и многое другое.  Многие начинают производство спиртного в домашних условиях с целью экономии денег и здоровья. Однако нередко этот процесс затягивает так, что превращается в увлекательное хобби. Знатоки согласятся, что винокурение – это настоящее искусство, которое позволяет бесконечные эксперименты с рецептурами и вкусами. Вне зависимости от вашего уровня, на нашем сайте вы найдете все необходимое, чтобы ваш труд приносил радость: оборудование, рецепты, видео и многое другое.





