mixin banner()
	+b.banner&attributes(attributes)
		+e.in
			+e.item
				+e('h2').title Оборудование для виноделов

				+b('blockquote').blockquote Пригубить бокал вина — все равно что ощутить на губах капельку из реки времен

			+e.item
				+e.button
					+b('a').button._small(href='#') Подробнее

