mixin news-full()
	+b.news-full&attributes(attributes)

		+e.in
			+e.top
				+e('h2').title Новости

				+e.top-filter
					+b.catalog-count
						+e('form')(method='post')
							+e('select')(name='')
								+e('option')(value='1') 20
								+e('option')(value='2') 40
								+e('option')(value='3') 60

					+b.pagination
						+e('a').link(href='#') 1
						+e('a').link(href='#') 2
						+e('a').link(href='#') 3
						+e('a').link(href='#') 4
						+e('a').link(href='#') 5

		+e.row._first
			+e.w
				+e.list
					+e.item
						+e.item-image
							+e('a').item-link(href='assets/images/content/news-img-1.jpg')
								+e('img')(src='assets/images/content/news-img-1.jpg' alt='')
						+e.item-link(href='#link')
							+e('div').item-date 21.05.16
							+e('h3').item-title Юридические основания производства и продажи самогона

							+e('p').item-text С 1 июля 2015 года в России официально можно производить зерновой дистиллят на продажу. Однако ждать крафтовой революции в крепком алкоголе не стоит.
					+e.item
						+e.item-image
							+e('a').item-link(href='assets/images/content/news-img-2.jpg')
								+e('img')(src='assets/images/content/news-img-2.jpg' alt='')
						+e.item-link(href='#link')
							+e('div').item-date 21.05.16
							+e('h3').item-title Производство зернового самогона

							+e('p').item-text Производство зернового самогона от проращивания зерна до дистилляции
		+e.row
			+e.w
				+e.list
					+e.item
						+e.item-image
							+e('a').item-link(href='assets/images/content/news-img-1.jpg')
								+e('img')(src='assets/images/content/news-img-1.jpg' alt='')
						+e.item-link(href='#link')
							+e('div').item-date 21.05.16
							+e('h3').item-title Юридические основания производства и продажи самогона

							+e('p').item-text С 1 июля 2015 года в России официально можно производить зерновой дистиллят на продажу. Однако ждать крафтовой революции в крепком алкоголе не стоит.
					+e.item
						+e.item-image
							+e('a').item-link(href='assets/images/content/news-img-2.jpg')
								+e('img')(src='assets/images/content/news-img-2.jpg' alt='')
						+e.item-link(href='#link')
							+e('div').item-date 21.05.16
							+e('h3').item-title Производство зернового самогона

							+e('p').item-text Производство зернового самогона от проращивания зерна до дистилляции
		+e.row
			+e.w
				+e.list
					+e.item
						+e.item-image
							+e('a').item-link(href='assets/images/content/news-img-1.jpg')
								+e('img')(src='assets/images/content/news-img-1.jpg' alt='')
						+e.item-link(href='#link')
							+e('div').item-date 21.05.16
							+e('h3').item-title Юридические основания производства и продажи самогона

							+e('p').item-text С 1 июля 2015 года в России официально можно производить зерновой дистиллят на продажу. Однако ждать крафтовой революции в крепком алкоголе не стоит.
					+e.item
						+e.item-image
							+e('a').item-link(href='assets/images/content/news-img-2.jpg')
								+e('img')(src='assets/images/content/news-img-2.jpg' alt='')
						+e.item-link(href='#link')
							+e('div').item-date 21.05.16
							+e('h3').item-title Производство зернового самогона

							+e('p').item-text Производство зернового самогона от проращивания зерна до дистилляции


